= "Total points #{current_feed.total_points}"
= @feed.user.nick
.forms
  = link_to 'Photos', '#'
  = render 'posts/photo_form', feed: current_feed, post: PhotoPost.new
  = render 'posts/form', feed: current_feed, post: Post.new
.posts
  = render partial: 'posts/post', collection: @posts, as: :post, locals: {feed: @feed}