.feed
  = "Total points #{current_feed.total_points}"
  = @feed.user.nick
  = link_to "Visibility", visibility_feed_path
  = link_to "Linked Services", services_feed_path
  = link_to "Subscribe", subscribe_feed_path
  = render 'forms'
  .posts
    = render @posts, feed: @feed 