= form_for [feed, post], url: feed_posts_path(feed.subdomain) do |f|
  .title
    = f.label :title
    = f.text_field :title
  .description
    = f.label :description
    = f.text_area :description
  .submit
    = f.submit "Submit"